h1
{
    text-align:center;
    color: white;
    background-color: #343a40;
    font-size: 45px !important;
    font-weight: bold;
}

h2 {
    margin-bottom: 15px !important;
    text-align:center !important;
}

h3
{
    text-align:center;
}

a {
    color: white !important;
}

.background {
    background-color: #343a40;

}

.button {
    margin-bottom: 15px;
}

/* blog page */

.title-blog-page
{
    background-image: url('../image/backgroundblog.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-bottom: 30px;
}

.title-blog-page h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30%;
    margin-right: 30%;
}

.news h3
{
    background-color:#343a40;
    color:white;
    font-size:20px !important;
    margin-bottom:0px;
    height: 80px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 10px !important;
    height: 200px !important;
    text-align: center;
}

.news img {
    height: 200px;
}

.img-post-view img {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
}

.news
{
    margin-bottom: 15px;
}

.view-comments 
{
    background-color: #343a40;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.center 
{
    text-align: center;
}

.add-comment-form input 
{
    width: 100%;
}

.add-comment-form textarea 
{
    width: 100%;
}

.add-comment-form label 
{
    float: left;
}

.comments h2 
{
    margin-top: 10px;
}

.comment 
{
    border-bottom: solid 1px #343a40;
    margin-bottom: 3px;
}

.pagination {
    position: absolute;
    left:40%;
}

/* home */

.social-media h3 {
    color: black;
}

.social-media img {
    height: 50px;
    width: 50px;
}

.social-media a {
    color: black !important;
}

.name {
    background-image: url('../image/code.jpg');
    height: 300px;
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative
}

.name p {
    color: white;
    margin: 0;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.name h2 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    
}

.cv {
    height: 150px;
    position: relative
}

.cv a {
    width: 30%;
    margin-bottom: 15px;
    margin: 0;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.cv h3 {
    color: white;
    margin: 0;
    position: absolute;
    top: 35%;
    transform: translate(-50%, -50%);
    left: 50%;
}

/* adminPost */

.admin-post a {
    color: black !important;
}